<ion-header>
  <ion-toolbar>
    <ion-title>{{ pokemon?.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleFavorite()">
        <ion-icon [name]="isFavorite ? 'star' : 'star-outline'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="pokemon">
    <ion-card>
      <img [src]="pokemon?.sprites?.other?.home?.front_default" />
      <ion-card-header class="pokemon-header">
        <ion-card-title>{{ pokemon?.name | capitalize }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Id: {{ pokemon?.id }}</p>
        <p *ngIf="pokemon?.types && pokemon.types.length > 0">Tipo: {{ pokemon?.types[0]?.type?.name | capitalize }}</p>
        <p>Peso: {{ pokemon?.weight }}</p>
        <p>Altura: {{ pokemon?.height }}</p>
        <p>Evolui para: {{ evolveTo | capitalize }}</p>
        <p>Base Experience: {{ pokemon?.base_experience }}</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-title>{{ pokemon?.name | capitalize }}</ion-card-title>
    <ion-button (click)="toggleFavorite()">
      {{ isFavorite ? 'Unfavorite' : 'Favorite' }}
    </ion-button>
    <ion-button (click)="goBack()">
      Voltar
    </ion-button>
  </ion-card-header>
</ion-card>
