<ion-header>
  <ion-toolbar>
    <ion-title>Pokédex</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="filterPokemons($event)" placeholder="Search Pokémon"></ion-searchbar>

  <div class="pokemon-grid">
    <ion-card *ngFor="let pokemon of filteredPokemons" (click)="goToDetails(pokemon)">
      <img [src]="pokemon?.sprites?.front_default" />
      <ion-card-header>
        <ion-card-title>{{ pokemon?.name | capitalize }}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando mais pokémons...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
